!!! 5
%html
  %head
    %title Myapp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: "#{controller.controller_path + " " + controller.action_name}" }
    %header{class: "navbar navbar-default", role: "navigation"}
      .container
        .navbar-header
          %button{type: "button", class: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "AwesomeEvents", root_path, class: "navbar-brand"
        %div{class: "collapse navbar-collapse", id: "bs-example-navbar-collapse-1"}
          %ul{class: "nav navbar-nav navbar-right"}
            %li= link_to 'イベントを作る', new_event_path
            - if logged_in?
              %li= link_to '退会', retire_user_path
              %li= link_to 'ログアウト', logout_path
            - else
              %li= link_to 'Twitterでログイン' , '/auth/twitter'
    #container
      - if flash[:notice]
        %div{class: "alert alert-success"}
          = flash[:notice]
      - if flash[:alert]
        %div{class: "alert alert-danger"}
          = flash[:alert]
      = yield
